/* ==============================
   Green Basket Retail
   Professional Theme
============================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html,
body{
    width:100%;
    height:100%;
}

body{

    background-image:url("../images/store-background.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    background-attachment:fixed;

    display:flex;
    justify-content:center;
    align-items:center;

    min-height:100vh;

}

/* Login Card */

.login-container{

    width:470px;

    background:rgba(255,255,255,0.92);

    padding:40px;

    border-radius:20px;

    box-shadow:0 15px 35px rgba(0,0,0,0.35);

    text-align:center;

}

/* Heading */

.login-container h1{

    color:#2E7D32;

    font-size:36px;

    margin-bottom:10px;

}

.login-container p{

    color:#555;

    margin-bottom:30px;

    font-size:18px;

}

/* Labels */

label{

    display:block;

    text-align:left;

    margin-top:15px;

    margin-bottom:8px;

    font-weight:bold;

    color:#333;

}

/* Input */

input,
select{

    width:100%;

    padding:14px;

    border:1px solid #cccccc;

    border-radius:8px;

    outline:none;

    font-size:15px;

    transition:.3s;

}

input:focus,
select:focus{

    border-color:#2E7D32;

    box-shadow:0 0 8px rgba(46,125,50,.30);

}

/* Button */

button{

    width:100%;

    padding:15px;

    margin-top:25px;

    border:none;

    border-radius:8px;

    background:#2E7D32;

    color:white;

    font-size:18px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#1B5E20;

}

/* Dashboard */

.menu{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:18px;

    margin-top:25px;

}

.menu-btn{

    text-decoration:none;

    background:#2E7D32;

    color:white;

    padding:18px;

    border-radius:12px;

    font-weight:bold;

    transition:.3s;

    display:flex;

    justify-content:center;

    align-items:center;

}

.menu-btn:hover{

    background:#1B5E20;

    transform:translateY(-3px);

}

.logout{

    background:#d32f2f;

}

.logout:hover{

    background:#b71c1c;

}

/* Table */

table{

    width:100%;

    border-collapse:collapse;

    background:white;

    margin-top:25px;

    border-radius:10px;

    overflow:hidden;

}

th{

    background:#2E7D32;

    color:white;

    padding:14px;

}

td{

    padding:12px;

    border-bottom:1px solid #dddddd;

    text-align:center;

}

tr:hover{

    background:#f3f3f3;

}

/* Links */

a{

    text-decoration:none;

    color:#2E7D32;

    font-weight:bold;

}

/* HR */

hr{

    margin:20px 0;

}

/* Report */

h2{

    margin-bottom:20px;

}

h3{

    margin:15px 0;

    color:#333;

    font: size 23px;px;

}

/* Responsive */

@media(max-width:600px){

.login-container{

    width:96%;

    padding:25px;

}

.menu{

    grid-template-columns:1fr;

}

}